@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <ul title="Janus">
        <li>
            <a href="@Url.Action("RoomTest","Janus")" target="_blank">Janus-room</a>
        </li>
    </ul>
</div>
