
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RTCDemo</title>
</head>
<body>
    <header>

    </header>
    <main>
        <video autoplay width="160" height="90"></video>
    </main>
    <footer>

    </footer>
    <script src="~/TRTC/js/jquery-3.2.1.min.js"></script>
    <script src="~/TRTC/js/trtc.js"></script>
    <script>

    </script>
</body>
</html>
