
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SimpleWebRTC</title>
</head>
<body>
    <script src="http://simplewebrtc.com/latest.js"></script>

    <div id="local_video"></div>
    <div id="remote_video"></div>

    <script>
        var webrtc = new SimpleWebRTC({
            localVideoEl: "local_video",
            remoteVideosEl: "remote_video",
            autoRequestMedia: true
        });

        webrtc.on("readyToCall", function () {
            webrtc.joinRoom("your awesome room name");
        });
    </script>
</body>
</html>
