@*<div class="footer">
    <div class="footer_con">
        <p class="p1">同方知网（北京）技术有限公司 - 职教职培事业部</p>
        <p class="p2">Copyright © 2016 CNKI. All Rights Reserved  |  京ICP证040431号 互联网出版许可证 新出网证(京)字008号</p>
        <img src="~/Content/Web/images/ewm.png">
    </div>
</div>*@