<link href="/Tookit/jquery.pager/Pager.css" rel="stylesheet" type="text/css" />
<script src="/Tookit/jquery.pager/jquery.pager.js" type="text/javascript"></script>
<div class="pager" style="padding-right: 5px;">
</div>
<script type="text/javascript">
    var pageNo = "@ViewBag.pageNo";
    var pageCount = "@ViewBag.pageCount";
    var Amount = "@ViewBag.Amount";
    $(function () {
        $(".pager").pager({
            pagenumber: pageNo, pagecount: pageCount, amount: Amount, buttonClickCallback: function (pageclickednumber) {

                var url = window.location.href;
                if (url.indexOf("#") > 1) {
                    url = url.substr(0, url.indexOf("#"));
                }
                url = setURLParam(url, "pageNo", pageclickednumber);
                window.location.href = url;
            }
        });
    });

</script>

